{% extends 'templateFrontend.twig' %}

{% block content %}

<div class="container">
     <div class="row">
        <div class="col-lg-12">
            <h1>La page que vous recherchez est introuvable</h1>
            <p>Code erreur: 404</p>
            <a class="link-style" href="/home"></i> Retour à la page d'accueil</a>
        </div>
    </div>
</div>
{% endblock %}
