{% extends 'templateFrontend.twig' %}

{% block content %}

<div class="container">

    <h1>{{ titleAction }}</h1>

    <p>{{ textConfirmation }}</p>
    <a class="btn btn-sm btn-outline-secondary" href="{{ actionConfirmation }}">Retour</a>

</div>

{% endblock %}
